In [43]:
import pandas as pd
import csv

In [90]:
homicidios = pd.read_csv('data/agressoes_arma_de_fogo.csv', encoding='latin1', delimiter=';')

In [1]:
homicidios['codigo_unidade_geografica'] = homicidios['Municipio'].apply(lambda x: x.split(' ')[0])
#homicidios.drop('Municipio', axis=1, inplace=True)
homicidios.set_index('codigo_unidade_geografica', inplace=True)
homicidios = homicidios.loc[:,['2000']]

NameError: name 'homicidios' is not defined

In [92]:
homicidios.head()

                          2000
codigo_unidade_geografica
110001                       1
110037                       -
110040                       -
110034                       3
110002                      31

In [93]:
homicidios.to_csv('data/censo_2000_pe/agressoes_arma_de_fogo_2000.csv')