In [278]:
import pandas as pd
import numpy as np

In [279]:
homicidios = pd.read_csv("data/censo_2000_pe/agressoes_arma_de_fogo_2000.csv")
homicidios = homicidios.rename(index=str, columns={"2000": "ano_2000"})
homicidios = homicidios.replace('-', np.nan)
homicidios['ano_2000'] = homicidios.ano_2000.astype("float64")
#homicidios

In [280]:
populacao = pd.read_csv("data/estimativa_populacao/populacao_pe_municipios.csv")
#populacao

In [281]:
microrregioes = pd.read_csv("data/microrregioes/municipios_microrregioes_pernambuco.csv")
#microrregioes

In [282]:
aux2 = pd.read_csv("data/censo_2000_pe/csv/edu_alunos_por_serie.csv")
#aux2.head()
codigo = aux2[['municipio', 'codigo_unidade_geografica']]
codigo = codigo.copy()
codigo['codigo_unidade_geografica'] = codigo['codigo_unidade_geografica'].apply(lambda x: int(x/10))
#codigo

In [283]:
codigo['municipio'] = codigo['municipio'].str.normalize('NFKD').\
                                                            str.encode('ascii', errors='ignore').str.decode('utf-8')
microrregioes['municipio'] = microrregioes['municipio'].str.normalize('NFKD').\
                                                            str.encode('ascii', errors='ignore').str.decode('utf-8')
microrregioes['microrregiao'] = microrregioes['microrregiao'].str.normalize('NFKD').\
                                                            str.encode('ascii', errors='ignore').str.decode('utf-8')
populacao['municipio'] = populacao['municipio'].str.normalize('NFKD').\
                                                            str.encode('ascii', errors='ignore').str.decode('utf-8')

In [284]:
tb_parcial = pd.concat([codigo.set_index("municipio"),\
                                microrregioes.set_index("municipio"), populacao.set_index("municipio")], axis= 1)
tb_parcial = tb_parcial.reset_index()
tb_parcial = tb_parcial.rename(columns={"index": "municipio"})

In [285]:
tb_parcial.head()

               municipio  codigo_unidade_geografica     microrregiao    pop
0           Abreu e Lima                     260005           Recife  83486
1  Afogados da Ingazeira                     260010    Vale do Pajeu  34524
2                Afranio                     260020        Petrolina  14227
3              Agrestina                     260030            Brejo  18713
4             Agua Preta                     260040  Mata Meridional  25353

In [286]:
def filtro(codigo):
    aux=[]
    if (codigo >= 260001 and codigo <= 269999):
        aux.append(int(codigo))
    df_newcode = pd.DataFrame(aux, columns=["codigo_un"])
    return df_newcode

In [287]:
n_homicidios = pd.concat(map(lambda a: filtro(a.codigo_unidade_geografica).\
                             assign(homicidio = a.ano_2000), homicidios.itertuples()), ignore_index=True)
#n_homicidios.head()

In [288]:
tabela_ref = pd.concat([tb_parcial.set_index("codigo_unidade_geografica"),\
                                n_homicidios.set_index("codigo_un")], axis= 1)

In [289]:
tabela_ref.head()

                    municipio     microrregiao    pop  homicidio
260005           Abreu e Lima           Recife  83486       32.0
260010  Afogados da Ingazeira    Vale do Pajeu  34524        8.0
260020                Afranio        Petrolina  14227        1.0
260030              Agrestina            Brejo  18713        8.0
260040             Agua Preta  Mata Meridional  25353       21.0

In [290]:
tabela_ref = tabela_ref.reset_index()
tabela_ref = tabela_ref.rename(columns={"index": "codigo_un"})
tabela_ref.head()

   codigo_un              municipio     microrregiao    pop  homicidio
0     260005           Abreu e Lima           Recife  83486       32.0
1     260010  Afogados da Ingazeira    Vale do Pajeu  34524        8.0
2     260020                Afranio        Petrolina  14227        1.0
3     260030              Agrestina            Brejo  18713        8.0
4     260040             Agua Preta  Mata Meridional  25353       21.0

In [291]:
def taxa(populacao, homicidios):
    aux=[]
    taxa_h = 100000*homicidios/populacao
    aux.append(taxa_h)
    df_taxa = pd.DataFrame(aux, columns=["taxa_homicidio"])
    return df_taxa

In [292]:
taxa = pd.concat(map(lambda a: taxa(a.pop, a.homicidio),\
                       tabela_ref.itertuples()), ignore_index=True)

In [293]:
tabela = pd.concat([tabela_ref, taxa], axis=1)
tabela.head()

,codigo_un,municipio,microrregiao,pop,homicidio,taxa_homicidio
0,260005,Abreu e Lima,Recife,83486,32.0,38.329780
1,260010,Afogados da Ingazeira,Vale do Pajeu,34524,8.0,23.172286
2,260020,Afranio,Petrolina,14227,1.0,7.028889
3,260030,Agrestina,Brejo,18713,8.0,42.751029
4,260040,Agua Preta,Mata Meridional,25353,21.0,82.830434

In [294]:
#tabela.to_csv('../2017-2-projeto-lbs4-eebls-ktcn/tabela_final.csv', index=False)
#tabela = pd.read_csv("../2017-2-projeto-lbs4-eebls-ktcn/tabela_final.csv")

In [295]:
def retirar_acento(dataframe):
    #dataframe['municipio'] = dataframe['municipio'].str.normalize('NFKD').\
                                                        #str.encode('ascii', errors='ignore').str.decode('utf-8')
    dataframe = dataframe.set_index('municipio')
    return dataframe

In [311]:
data_stack=[]

In [312]:
data = pd.read_csv("data/censo_2000_pe/educacao_pe/csv/pessoas_de_10_anos_ou_mais_de_idade.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/educacao_pe/csv/pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/educacao_pe/csv/pessoas_que_frequentavam_creche_ou_escola.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/trabalho_rendimento_pe/csv/pessoas_de_10_anos_ou_mais_de_idade.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/trabalho_rendimento_pe/csv/pessoas_de_10_anos_ou_mais_de_idade_empregadas_no_trabalho_principal_da_semana_de_referencia.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/trabalho_rendimento_pe/csv/pessoas_de_10_anos_ou_mais_de_idade_ocupadas_na_semana_de_referência.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/trabalho_rendimento_pe/csv/valor_do_rendimento_nominal_mediano_mensal_do_trabalho_principal_das_pessoas_de_10_anos_ou_mais_de_idade.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/domicilios_particulares_permanentes.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/domicilios_particulares_permanentes_por_situacao_destino_do_lixo.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/domicilios_particulares_permanentes_por_situacao_tipo_abastecimento_agua.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/domicilios_particulares_permanentes_por_situacao_tipo_esgotamento_sanitario.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/media_de_anos_de_estudo_da_populacao_de_10_anos_ou_mais_de_idade.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/numero_medio_moradores_domicilios_particulares_permanentes_classe_de_salario.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/pessoas_de_60_ou_mais_anos_de_idade_aposentados_ou_nao.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/pessoas_de_60_ou_mais_anos_de_idade_por_classe_de_contribuicao.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/populacao_pe.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/populacao_residente_pe.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/populacao_residente_por_cor_pe.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/propocao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/proporcao_de_domicilios_com_criancas_de_ate_14_anos_de_idade.csv")
data_stack.append(data)
#data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/proporcao_de_pessoas_de_10_anos_ou_mais_de_idade_ocupadas_na_semana_de_referência.csv")
#data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/proporcao_de_pessoas_de_10_anos_ou_mais_de_idade_ocupadas_na_semana_de_referência_por_contribuicao_instituto_previdencia.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/proporcao_de_pessoas_de_10_anos_ou_mais_de_idade_ocupadas_na_semana_de_referência_por_posicao_na_ocupacao.csv")
data_stack.append(data)
data = pd.read_csv("data/censo_2000_pe/indicadores_sociais_pe/csv/taxa_de_escolarizacao_por_idade.csv")
data_stack.append(data)

In [313]:
for x in range(0,23):
    data_stack[x] = retirar_acento(data_stack[x])

In [314]:
data_s = pd.concat(data_stack, axis=1)
#teste.head()

In [316]:
tabela = tabela.set_index('municipio')
#tabela.head()

In [317]:
tabela_final = pd.concat([tabela,data_s], axis=1).drop('codigo_unidade_geografica', 1)
tabela_final = tabela_final.reset_index()
tabela_final = tabela_final.rename(columns={"index": "municipio"})
tabela_final.head()

,municipio,codigo_un,microrregiao,pop,homicidio,taxa_homicidio,pessoas_de_10_anos_ou_mais_de_idade_total,pessoas_de_10_anos_ou_mais_de_idade_alfabetizadas,pessoas_de_10_anos_ou_mais_de_idade_taxa_de_alfabetizacao_(%),pessoas_de_10_anos_ou_mais_de_idade_10_a_14_anos_total,...,"pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_empregado_sem_carteira","pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_trabalhador_domestico_total","pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_trabalhador_domestico_com_carteira","pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_trabalhador_domestico_sem_carteira",taxa_de_escolarizacao_(%)_total,taxa_de_escolarizacao_(%)_por_grupos_de_idade_0_a_6_anos,taxa_de_escolarizacao_(%)_por_grupos_de_idade_7_a_14_anos,taxa_de_escolarizacao_(%)_por_grupos_de_idade_15_a_17_anos,taxa_de_escolarizacao_(%)_por_grupos_de_idade_18_a_24_anos,taxa_de_escolarizacao_(%)_por_grupos_de_idade_25_anos_ou_mais
0,Abreu e Lima,260005,Recife,83486,32.0,38.329780,72426.0,63709.0,87.964267,8979.0,...,17.256190,6.893336,1.778760,5.114576,32.530620,41.945898,95.584063,78.143800,33.812041,3.816416
1,Afogados da Ingazeira,260010,Vale do Pajeu,34524,8.0,23.172286,26208.0,19629.0,74.896978,3807.0,...,18.747716,5.147196,0.534028,4.613167,29.143026,25.394765,89.645511,68.337465,27.082396,2.221973
2,Afranio,260020,Petrolina,14227,1.0,7.028889,11848.0,8158.0,68.855503,1824.0,...,23.356101,3.427852,0.038902,3.388949,33.557669,21.179424,95.555202,75.170484,32.956231,5.897674
3,Agrestina,260030,Brejo,18713,8.0,42.751029,15728.0,9599.0,61.031282,2263.0,...,23.695550,4.252085,0.665384,3.586701,31.677327,40.297104,92.067825,66.086919,25.231703,3.157923
4,Agua Preta,260040,Mata Meridional,25353,21.0,82.830434,21824.0,14347.0,65.739553,3784.0,...,24.163987,5.626785,1.142118,4.484667,33.183783,14.363835,86.474907,67.870384,37.045502,6.286884

In [318]:
list(tabela_final)

['municipio',
 'codigo_un',
 'microrregiao',
 'pop',
 'homicidio',
 'taxa_homicidio',
 'pessoas_de_10_anos_ou_mais_de_idade_total',
 'pessoas_de_10_anos_ou_mais_de_idade_alfabetizadas',
 'pessoas_de_10_anos_ou_mais_de_idade_taxa_de_alfabetizacao_(%)',
 'pessoas_de_10_anos_ou_mais_de_idade_10_a_14_anos_total',
 'pessoas_de_10_anos_ou_mais_de_idade_10_a_14_anos_alfabetizadas',
 'pessoas_de_10_anos_ou_mais_de_idade_10_a_14_anos_taxa_de_alfabetizacao_(%)',
 'pessoas_de_10_anos_ou_mais_de_idade_15_a_19_anos_total',
 'pessoas_de_10_anos_ou_mais_de_idade_15_a_19_anos_alfabetizadas',
 'pessoas_de_10_anos_ou_mais_de_idade_15_a_19_anos_taxa_de_alfabetizacao_(%)',
 'pessoas_de_10_anos_ou_mais_de_idade_20_anos_ou_mais_total',
 'pessoas_de_10_anos_ou_mais_de_idade_20_anos_ou_mais_alfabetizadas',
 'pessoas_de_10_anos_ou_mais_de_idade_20_anos_ou_mais_taxa_de_alfabetizacao_(%)',
 'codigo',
 'pessoas_de_10_anos_ou_mais_de_idade_total',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_sem_instrucao_e_menos_de_1_ano',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_1_a_3_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_4_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_5_a_7_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_8_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_9_e_10_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_11_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_12_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_13_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_14_anos',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_15_anos_ou_mais',
 'pessoas_de_10_anos_ou_mais_de_idade_grupos_de_anos_de_estudo_nao_determinados',
 'codigo',
 'pessoas_que_frequentavam_creche_ou_escola_total',
 'pessoas_que_frequentavam_creche_ou_escola_nivel_de_ensino_educacao_infantil_creche',
 'pessoas_que_frequentavam_creche_ou_escola_nivel_de_ensino_educacao_infantil_pre-escolar_(1)',
 'pessoas_que_frequentavam_creche_ou_escola_nivel_de_ensino_alfabetizacao_de_adultos',
 'pessoas_que_frequentavam_creche_ou_escola_nivel_de_ensino_fundamental',
 'pessoas_que_frequentavam_creche_ou_escola_nivel_de_ensino_medio',
 'pessoas_que_frequentavam_creche_ou_escola_nivel_de_ensino_pre-vestibular',
 'pessoas_que_frequentavam_creche_ou_escola_nivel_de_ensino_superior_graduacao',
 'pessoas_que_frequentavam_creche_ou_escola_nivel_de_ensino_superior_mestrado_ou_doutorado',
 'codigo',
 'pessoas_de_10_anos_ou_mais_de_idade,_por_sexo___total',
 'pessoas_de_10_anos_ou_mais_de_idade,_por_sexo___homens',
 'pessoas_de_10_anos_ou_mais_de_idade,_por_sexo___mulheres',
 'pessoas_de_10_anos_ou_mais_de_idade,_economicamente_ativas_na_semana_de_referencia,_por_sexo___total',
 'pessoas_de_10_anos_ou_mais_de_idade,_economicamente_ativas_na_semana_de_referencia,_por_sexo___homens',
 'pessoas_de_10_anos_ou_mais_de_idade,_economicamente_ativas_na_semana_de_referencia,_por_sexo___mulheres',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_sexo___total',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_sexo___homens',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_sexo___mulheres',
 'codigo',
 'pessoas_de_10_anos_ou_mais_de_idade,_empregadas_no_trabalho_principal_da_semana_de_referencia_total_(1)',
 'pessoas_de_10_anos_ou_mais_de_idade,_empregadas_no_trabalho_principal_da_semana_de_referencia_subgrupo_do_emprego_no_trabalho_principal_trabalhadores_domesticos_total',
 'pessoas_de_10_anos_ou_mais_de_idade,_empregadas_no_trabalho_principal_da_semana_de_referencia_subgrupo_do_emprego_no_trabalho_principal_trabalhadores_domesticos_categoria_do_emprego_no_trabalho_principal__com_carteira_de_trabalho_assinada',
 'pessoas_de_10_anos_ou_mais_de_idade,_empregadas_no_trabalho_principal_da_semana_de_referencia_subgrupo_do_emprego_no_trabalho_principal_trabalhadores_domesticos_categoria_do_emprego_no_trabalho_principal__sem_carteira_de_trabalho_assinada',
 'pessoas_de_10_anos_ou_mais_de_idade,_empregadas_no_trabalho_principal_da_semana_de_referencia_subgrupo_do_emprego_no_trabalho_principal_demais_empregados_total_(1)__sem_carteira_de_trabalho_assinada',
 'pessoas_de_10_anos_ou_mais_de_idade,_empregadas_no_trabalho_principal_da_semana_de_referencia_subgrupo_do_emprego_no_trabalho_principal_demais_empregados_categoria_do_emprego_no_trabalho_principal__com_carteira_de_trabalho_assinada',
 'pessoas_de_10_anos_ou_mais_de_idade,_empregadas_no_trabalho_principal_da_semana_de_referencia_subgrupo_do_emprego_no_trabalho_principal_demais_empregados_categoria_do_emprego_no_trabalho_principal__militares_e_funcionarios_publicos_estatutarios',
 'pessoas_de_10_anos_ou_mais_de_idade,_empregadas_no_trabalho_principal_da_semana_de_referencia_subgrupo_do_emprego_no_trabalho_principal_demais_empregados_categoria_do_emprego_no_trabalho_principal__outros_sem_carteira_de_trabalho_assinada_(1)',
 'codigo',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_total',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_grupos_de_horas_habitualmente_trabalhadas_por_semana_em_todos_os_trabalhos_ate_14_horas',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_grupos_de_horas_habitualmente_trabalhadas_por_semana_em_todos_os_trabalhos_15_a_29_horas',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_grupos_de_horas_habitualmente_trabalhadas_por_semana_em_todos_os_trabalhos_30_a_39_horas',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_grupos_de_horas_habitualmente_trabalhadas_por_semana_em_todos_os_trabalhos_40_a_44_horas',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_grupos_de_horas_habitualmente_trabalhadas_por_semana_em_todos_os_trabalhos_45_a_48_horas',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_grupos_de_horas_habitualmente_trabalhadas_por_semana_em_todos_os_trabalhos_49_horas_ou_mais',
 'codigo',
 'valor_do_rendimento_nominal_mediano_mensal_do_trabalho_principal_das_pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_com_rendimento_no_trabalho_principal_(r$)__total',
 'valor_do_rendimento_nominal_mediano_mensal_do_trabalho_principal_das_pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_com_rendimento_no_trabalho_principal_(r$)__posicao_na_ocupacao_no_trabalho_principal_empregados_total_(1)',
 'valor_do_rendimento_nominal_mediano_mensal_do_trabalho_principal_das_pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_com_rendimento_no_trabalho_principal_(r$)__posicao_na_ocupacao_no_trabalho_principal_empregados_categoria_do_emprego_no_trabalho_principal_com_carteira_de_trabalho_assinada_(1)',
 'valor_do_rendimento_nominal_mediano_mensal_do_trabalho_principal_das_pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_com_rendimento_no_trabalho_principal_(r$)__posicao_na_ocupacao_no_trabalho_principal_empregados_categoria_do_emprego_no_trabalho_principal_militares_e_funcionarios_publicos_estatutarios',
 'valor_do_rendimento_nominal_mediano_mensal_do_trabalho_principal_das_pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_com_rendimento_no_trabalho_principal_(r$)__posicao_na_ocupacao_no_trabalho_principal_empregados_categoria_do_emprego_no_trabalho_principal_outros_sem_carteira_de_trabalho_assinada_(1)',
 'valor_do_rendimento_nominal_mediano_mensal_do_trabalho_principal_das_pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_com_rendimento_no_trabalho_principal_(r$)__posicao_na_ocupacao_no_trabalho_principal_empregadores_categoria_do_emprego_no_trabalho_principal_outros_sem_carteira_de_trabalho_assinada_(1)',
 'valor_do_rendimento_nominal_mediano_mensal_do_trabalho_principal_das_pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_com_rendimento_no_trabalho_principal_(r$)__posicao_na_ocupacao_no_trabalho_principal_conta_propria_categoria_do_emprego_no_trabalho_principal_outros_sem_carteira_de_trabalho_assinada_(1)',
 'codigo',
 'domicilios_particulares_permanentes_total',
 'domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_ate_1/4',
 'domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_1/4_a_1/2',
 'domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_1/2_a_1',
 'domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_1_a_2',
 'domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_2_a_3',
 'domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_mais_de_3',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana__destino_do_lixo_(%)_coletado',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana__destino_do_lixo_(%)_queimado_ou_enterrado',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana__destino_do_lixo_(%)_outra_forma_(1)',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_rural__destino_do_lixo(%)_coletado',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_rural__destino_do_lixo(%)_queimado_ou_enterrado',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_rural__destino_do_lixo(%)_outra_forma_(1)',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana_forma_de_abastecimento_de_agua_(%)_rede_geral_total',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana_forma_de_abastecimento_de_agua_(%)_rede_geral_canalizada_em_pelo_menos_um_comodo',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana_forma_de_abastecimento_de_agua_(%)_rede_geral_canalizada_so_na_propriedade_ou_terreno',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana_forma_de_abastecimento_de_agua_(%)_poco_ou_nascente_total',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana_forma_de_abastecimento_de_agua_(%)_poco_ou_nascente_canalizada_em_pelo_menos_um_comodo',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana_forma_de_abastecimento_de_agua_(%)_poco_ou_nascente_canalizada_so_na_propriedade_ou_terreno',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana_forma_de_abastecimento_de_agua_(%)_poco_ou_nascente_nao-_canalizada',
 'domicilios_particulares_permanentes,_por_situacao_do_domicilio_urbana_forma_de_abastecimento_de_agua_(%)_outra_forma_(1)',
 'domicilios_particulares_permanente,_por_situacao_do_domicilio_urbana__tipo_de_esgotamento_sanitario(%)_rede_geral',
 'domicilios_particulares_permanente,_por_situacao_do_domicilio_urbana__tipo_de_esgotamento_sanitario(%)_fossa_septica',
 'domicilios_particulares_permanente,_por_situacao_do_domicilio_urbana__tipo_de_esgotamento_sanitario(%)_outra_forma_(1)',
 'domicilios_particulares_permanente,_por_situacao_do_domicilio_urbana__sem_instalacao_sanitaria(%)',
 'domicilios_particulares_permanente,_por_situacao_do_domicilio_rural__tipo_de_esgotamento_sanitario(%)_rede_geral',
 'domicilios_particulares_permanente,_por_situacao_do_domicilio_rural__tipo_de_esgotamento_sanitario(%)_fossa_septica',
 'domicilios_particulares_permanente,_por_situacao_do_domicilio_rural__tipo_de_esgotamento_sanitario(%)_outra_forma_(1)',
 'domicilios_particulares_permanente,_por_situacao_do_domicilio_rural__sem_instalacao_sanitaria(%)',
 'media_de_anos_de_estudo_da_populacao_de_10_anos_ou_mais_de_idade_total',
 'media_de_anos_de_estudo_da_populacao_de_10_anos_ou_mais_de_idade_por_grupos_de_idade_10_anos',
 'media_de_anos_de_estudo_da_populacao_de_10_anos_ou_mais_de_idade_por_grupos_de_idade_11_anos',
 'media_de_anos_de_estudo_da_populacao_de_10_anos_ou_mais_de_idade_por_grupos_de_idade_12_anos',
 'media_de_anos_de_estudo_da_populacao_de_10_anos_ou_mais_de_idade_por_grupos_de_idade_13_anos',
 'media_de_anos_de_estudo_da_populacao_de_10_anos_ou_mais_de_idade_por_grupos_de_idade_14_anos',
 'media_de_anos_de_estudo_da_populacao_de_10_anos_ou_mais_de_idade_por_grupos_de_idade_15_anos',
 'numero_medio_de_moradores_por_domicilio_particular_permanente_total',
 'numero_medio_de_moradores_por_domicilio_particular_permanente_classes_de_salario_minimo_ate_1/4',
 'numero_medio_de_moradores_por_domicilio_particular_permanente_classes_de_salario_minimo_de_1/4_a_1/2',
 'numero_medio_de_moradores_por_domicilio_particular_permanente_classes_de_salario_minimo_de_1/4_a_1/2.1',
 'numero_medio_de_moradores_por_domicilio_particular_permanente_classes_de_salario_minimo_de_1/4_a_1/2.2',
 'numero_medio_de_moradores_por_domicilio_particular_permanente_classes_de_salario_minimo_de_2_a_3',
 'numero_medio_de_moradores_por_domicilio_particular_permanente_classes_de_salario_minimo_mais_de_3',
 'pessoas_de_60_anos_ou_mais_de_idade_(%)_aposentadas_total',
 'pessoas_de_60_anos_ou_mais_de_idade_(%)_aposentadas_por_sexo_masculino',
 'pessoas_de_60_anos_ou_mais_de_idade_(%)_aposentadas_por_sexo_feminino',
 'pessoas_de_60_anos_ou_mais_de_idade_(%)_pensionistas_total',
 'pessoas_de_60_anos_ou_mais_de_idade_(%)_pensionistas_por_sexo_masculino',
 'pessoas_de_60_anos_ou_mais_de_idade_(%)_pensionistas_por_sexo_feminino',
 'pessoas_de_60_anos_ou_mais_de_idade,_com_rendimento_total',
 'pessoas_de_60_anos_ou_mais_de_idade,_com_rendimento_por_classes_de_contribuicao_no_rendimento_medio_mensal_familiar_ate_10%',
 'pessoas_de_60_anos_ou_mais_de_idade,_com_rendimento_por_classes_de_contribuicao_no_rendimento_medio_mensal_familiar_mais_de_10_a_30%',
 'pessoas_de_60_anos_ou_mais_de_idade,_com_rendimento_por_classes_de_contribuicao_no_rendimento_medio_mensal_familiar_mais_de_30_a_50%',
 'pessoas_de_60_anos_ou_mais_de_idade,_com_rendimento_por_classes_de_contribuicao_no_rendimento_medio_mensal_familiar_mais_de_50_a_90%',
 'pessoas_de_60_anos_ou_mais_de_idade,_com_rendimento_por_classes_de_contribuicao_no_rendimento_medio_mensal_familiar_mais_de_90%',
 'populacao_total',
 'populacao_sexo_(%)_masculino',
 'populacao_sexo_(%)_feminino',
 'populacao_situacao_do_domicilio_(%)_urbana',
 'populacao_situacao_do_domicilio_(%)_rural',
 'populacao_proporcao_de_pessoas_naturais_dos_municipios_(%)',
 'populacao_residente_por_grupos_de_idade_(%)_0_a_3_anos',
 'populacao_residente_por_grupos_de_idade_(%)_4_a_6_anos',
 'populacao_residente_por_grupos_de_idade_(%)_7_a_14_anos',
 'populacao_residente_por_grupos_de_idade_(%)_15_a_17_anos',
 'populacao_residente_por_grupos_de_idade_(%)_18_a_24_anos',
 'populacao_residente_por_grupos_de_idade_(%)_25_a_59_anos',
 'populacao_residente_por_grupos_de_idade_(%)_60_a_64_anos',
 'populacao_residente_por_grupos_de_idade_(%)_65_anos_ou_mais',
 'populacao_residente_por_cor_(%)_(1)_branca',
 'populacao_residente_por_cor_(%)_(1)_preta',
 'populacao_residente_por_cor_(%)_(1)_parda',
 'populacao_residente_por_cor_(%)_(1)_amarela',
 'populacao_residente_por_cor_(%)_(1)_indigena',
 'proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_total',
 'proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_por_sexo_homem',
 'proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_por_sexo_mulher',
 'proporcao_de_domicilios_com_criancas_de_ate_14_anos_de_idade,_com_rendimento_domiciliar_per_capita_de_ate_1/2_salario_minimo_e_com_responsavel_com_menos_de_4_anos_de_estudo_(%)_total',
 'proporcao_de_domicilios_com_criancas_de_ate_14_anos_de_idade,_com_rendimento_domiciliar_per_capita_de_ate_1/2_salario_minimo_e_com_responsavel_com_menos_de_4_anos_de_estudo_(%)_por_grupos_de_idade_das_criancas_0_a_6_anos',
 'proporcao_de_domicilios_com_criancas_de_ate_14_anos_de_idade,_com_rendimento_domiciliar_per_capita_de_ate_1/2_salario_minimo_e_com_responsavel_com_menos_de_4_anos_de_estudo_(%)_por_grupos_de_idade_das_criancas_7_a_14_anos',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_contribuicao_para_instituto_de_previdencia_(%)_(1)_contribui_total',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_contribuicao_para_instituto_de_previdencia_(%)_(1)_contribui_por_sexo_masculino',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_contribuicao_para_instituto_de_previdencia_(%)_(1)_contribui_por_sexo_feminino',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_contribuicao_para_instituto_de_previdencia_(%)_(1)_nao_contribui_total',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_contribuicao_para_instituto_de_previdencia_(%)_(1)_nao_contribui_por_sexo_masculino',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia,_por_contribuicao_para_instituto_de_previdencia_(%)_(1)_nao_contribui_por_sexo_feminino',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_total',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_empregado_total',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_empregado_com_carteira',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_empregado_sem_carteira',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_trabalhador_domestico_total',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_trabalhador_domestico_com_carteira',
 'pessoas_de_10_anos_ou_mais_de_idade,_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_trabalhador_domestico_sem_carteira',
 'taxa_de_escolarizacao_(%)_total',
 'taxa_de_escolarizacao_(%)_por_grupos_de_idade_0_a_6_anos',
 'taxa_de_escolarizacao_(%)_por_grupos_de_idade_7_a_14_anos',
 'taxa_de_escolarizacao_(%)_por_grupos_de_idade_15_a_17_anos',
 'taxa_de_escolarizacao_(%)_por_grupos_de_idade_18_a_24_anos',
 'taxa_de_escolarizacao_(%)_por_grupos_de_idade_25_anos_ou_mais']

In [319]:
tabela_final.to_csv('../2017-2-projeto-lbs4-eebls-ktcn/tabela_final.csv', index=False)