In [208]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
# Set random seed
np.random.seed(0)

In [209]:
tabela_final = pd.read_csv('tabela_final_prod.csv')
microrregioes = pd.read_csv("../data/microrregioes/municipios_microrregioes_pernambuco.csv")
#dataframe = municipio x cluster

In [210]:
df= pd.concat([tabela_final.set_index('municipio'),microrregioes.set_index('municipio')], axis=1)
#df
#adicionar o dataframe vindo do cluster ao concat
df = df.reset_index()
df = df.drop('index',1)
df.head()

,pop,taxa_homicidio,pessoas_de_10_anos_ou_mais_de_idade_alfabetizadas,pessoas_de_10_anos_ou_mais_de_idade_taxa_de_alfabetizacao_(%),pessoas_de_10_anos_ou_mais_de_idade_10_a_14_anos_total,pessoas_de_10_anos_ou_mais_de_idade_10_a_14_anos_alfabetizadas,pessoas_de_10_anos_ou_mais_de_idade_10_a_14_anos_taxa_de_alfabetizacao_(%),pessoas_de_10_anos_ou_mais_de_idade_15_a_19_anos_total,pessoas_de_10_anos_ou_mais_de_idade_15_a_19_anos_alfabetizadas,pessoas_de_10_anos_ou_mais_de_idade_15_a_19_anos_taxa_de_alfabetizacao_(%),...,pessoas_de_10_anos_ou_mais_de_idade_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_trabalhador_domestico_com_carteira,pessoas_de_10_anos_ou_mais_de_idade_ocupadas_na_semana_de_referencia_por_posicao_na_ocupacao_(%)_trabalhador_domestico_sem_carteira,taxa_de_escolarizacao_(%)_total,taxa_de_escolarizacao_(%)_por_grupos_de_idade_0_a_6_anos,taxa_de_escolarizacao_(%)_por_grupos_de_idade_7_a_14_anos,taxa_de_escolarizacao_(%)_por_grupos_de_idade_15_a_17_anos,taxa_de_escolarizacao_(%)_por_grupos_de_idade_18_a_24_anos,taxa_de_escolarizacao_(%)_por_grupos_de_idade_25_anos_ou_mais,Unnamed: 0,microrregiao
0,83486,38.329780,63709.0,87.964267,8979.0,8513.0,94.810112,9853.0,9478.0,96.194053,...,1.778760,5.114576,32.530620,41.945898,95.584063,78.143800,33.812041,3.816416,0,Recife
1,34524,23.172286,19629.0,74.896978,3807.0,3424.0,89.939585,3758.0,3553.0,94.544971,...,0.534028,4.613167,29.143026,25.394765,89.645511,68.337465,27.082396,2.221973,1,Vale do Pajeu
2,14227,7.028889,8158.0,68.855503,1824.0,1683.0,92.269737,1762.0,1596.0,90.578888,...,0.038902,3.388949,33.557669,21.179424,95.555202,75.170484,32.956231,5.897674,2,Petrolina
3,18713,42.751029,9599.0,61.031282,2263.0,1811.0,80.026513,2243.0,1832.0,81.676326,...,0.665384,3.586701,31.677327,40.297104,92.067825,66.086919,25.231703,3.157923,3,Brejo
4,25353,82.830434,14347.0,65.739553,3784.0,3114.0,82.293869,3633.0,3090.0,85.053675,...,1.142118,4.484667,33.183783,14.363835,86.474907,67.870384,37.045502,6.286884,4,Mata Meridional

In [201]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75
train = df[df['is_train']==True]
test = df[df['is_train']==False]

In [202]:
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:',len(test))

Number of observations in the training data: 138
Number of observations in the test data: 47

In [204]:
features = df.columns[:170]

In [144]:
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [ ]:
y = pd.factorize(train['species'])[0]
#species seria o cluster a qual pertence

In [ ]:
classificador = RandomForestClassifier(n_jobs=2, random_state=0)
classificador.fit(train[features], y)

Classificador feito!

In [205]:
classificador.predict(test[features])

In [150]:
classificador.predict_proba(test[features])[0:10]

array([[ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 0.9,  0.1,  0. ],
       [ 1. ,  0. ,  0. ],
       [ 1. ,  0. ,  0. ]])

In [ ]:
pd.crosstab(test['species'], preds, rownames=['Actual Species'], colnames=['Predicted Species'])

In [207]:
list(zip(train[features], classificador.feature_importances_))