In [918]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
# Set random seed
np.random.seed(0)

In [919]:
#carregando as tables
tabela_final = pd.read_csv('tabela_final_prod.csv')
microrregioes = pd.read_csv("../data/microrregioes/municipios_microrregioes_pernambuco.csv")
classes = pd.read_csv('classes.csv')

In [920]:
deus = pd.read_csv('deus.csv')
df = pd.concat([deus, classes], axis=1)
#df = df.drop('microrregiao',1)
#y = pd.factorize(df['microrregiao'])[0]
df = df.replace([np.inf, -np.inf, '-'], np.nan).dropna()
#df

In [921]:
#deus.head()

In [922]:
#concatenando
##df= pd.concat([tabela_final.set_index('municipio'),microrregioes.set_index('municipio')], axis=1)
##df = df.reset_index()
##df = df.drop('index',1)

#adicionar o dataframe vindo do cluster ao concat
##df = pd.concat([df, classes], axis=1)
##df = df.drop('microrregiao',1)
#y = pd.factorize(df['microrregiao'])[0]
##df = df.replace([np.inf, -np.inf, '-'], np.nan).dropna()
#df.head()

In [923]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75
train = df[df['is_train']==True]
test = df[df['is_train']==False]

In [924]:
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:',len(test))

Number of observations in the training data: 144
Number of observations in the test data: 40

In [925]:
features = df.columns[2:6]
#features

In [926]:
features

Index(['domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_2_a_3',
       'domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_mais_de_3',
       'populacao_proporcao_de_pessoas_naturais_dos_municipios_(%)',
       'proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_por_sexo_homem'],
      dtype='object')

In [927]:
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [928]:
y = pd.factorize(train['class'])[0]
#species seria o cluster a qual pertence

In [929]:
classificador = RandomForestClassifier(n_jobs=2, random_state=0)
classificador.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=2, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

Classificador feito!

In [930]:
classificador.predict(test[features])

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1])

In [931]:
classificador.predict_proba(test[features])[0:10]

array([[ 0.2,  0.8],
       [ 0. ,  1. ],
       [ 0.2,  0.8],
       [ 1. ,  0. ],
       [ 0.3,  0.7],
       [ 0.2,  0.8],
       [ 0. ,  1. ],
       [ 0.2,  0.8],
       [ 0.3,  0.7],
       [ 0. ,  1. ]])

In [932]:
preds = classificador.predict(test[features])
pd.crosstab(test['class'], preds, rownames=['Actual Species'], colnames=['Predicted Species'])

Predicted Species  0   1
Actual Species
0                  5   5
1                  2  28

In [933]:
list(zip(train[features], classificador.feature_importances_))

[('domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_2_a_3',
  0.40422034616124269),
 ('domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_mais_de_3',
  0.23960745816720541),
 ('populacao_proporcao_de_pessoas_naturais_dos_municipios_(%)',
  0.16197651158813714),
 ('proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_por_sexo_homem',
  0.19419568408341478)]

In [938]:
teste = pd.concat([df['class'],\
                   df['taxa_homicidio'],\
                   df['domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_2_a_3'],\
                    df['domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_mais_de_3'],\
                   df['populacao_proporcao_de_pessoas_naturais_dos_municipios_(%)'],\
                   df['proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_por_sexo_homem']],\
                  axis=1)

In [939]:
teste.groupby(['class']).mean()

,taxa_homicidio,domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_2_a_3,domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_mais_de_3,populacao_proporcao_de_pessoas_naturais_dos_municipios_(%),proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_por_sexo_homem
class,,,,,
0,47.259502,3.874709,5.233135,71.477934,48.957502
1,12.549895,2.154186,2.406395,80.908249,60.333646

In [936]:
teste.groupby(['class']).min()

,taxa_homicidio,populacao_proporcao_de_pessoas_naturais_dos_municipios_(%),domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_2_a_3,domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_mais_de_3,proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_por_sexo_homem
class,,,,,
0,30.292539,41.015155,0.90786,0.468368,15.894111
1,0.000000,56.694776,0.00000,0.000000,39.744629

In [937]:
teste.groupby(['class']).max()

,taxa_homicidio,populacao_proporcao_de_pessoas_naturais_dos_municipios_(%),domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_de_2_a_3,domicilios_particulares_permanentes_classes_de_salario_minimo_(%)_mais_de_3,proporcao_de_pessoas_de_15_anos_ou_mais_de_idade_com_menos_de_4_anos_de_estudo_(%)_por_sexo_homem
class,,,,,
0,88.388286,85.990799,10.773396,25.361283,70.436493
1,32.160086,96.777992,4.199698,7.451507,78.199965